@import "tailwindcss";

/* DARK MODE */
#darkToggle:checked ~ .page {
  background:#020617;
  color:#f8fafc;
}

#darkToggle:checked ~ .page .card {
  background:#020617;
  border:1px solid #1e293b;
}

#darkToggle:checked ~ .page nav {
  background:#020617;
}

/* FILTER */
#filter-action:checked ~ .page .movies .card:not(.action),
#filter-scifi:checked ~ .page .movies .card:not(.scifi),
#filter-drama:checked ~ .page .movies .card:not(.drama) {
  display:none;
}

/* Overlay base */
.movie-card .overlay {
  opacity: 1;                /* visible on mobile */
  transform: translateY(0);
}

/* Desktop hover effect */
@media (hover:hover) {
  .movie-card .overlay {
    opacity: 0;
    transform: translateY(20px);
  }

  .movie-card:hover .overlay {
    opacity: 1;
    transform: translateY(0);
  }
}

/*  BUTTON STYLE */
.filter-btn {
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  background: #e5e7eb;
  font-size: 0.875rem;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #020617;
}

.filter-btn:hover {
  background: #d1d5db;
}